/* ----------------------------------------------------------------------------
 * About Activello screen
 * ------------------------------------------------------------------------- */

.wp-badge.activello-welcome-logo {
	color: #fff;
	background-image: url("../img/logo.png");
	background-position: center center;
	background-size: 70%;
	background-repeat: no-repeat;
}

.activello-welcome i.dashicons {
	margin-right: 15px;
	position: relative;
	top: 3px;
}

.about-wrap.activello-welcome img {
	border: 0 none;
}
